{
  "stops": ["Studio Arts Building"],
  "mail_settings": {"to": "transit-it@admin.umass.edu",
                   "from": "transit-it@admin.umass.edu",
                   "subject": "PVTA realtime feed error"},
  "environment": "development"
}
